.small {
    display: flex;
    align-items: center;
    
    cursor: pointer;
    color: #3C3C3C;
    text-align: center;

    padding: 0.5rem 1rem;

    border: 1px solid transparent;
}

.small-nav {
    font-size: 1.125rem;
}

.small-nav:last-child {
    padding-right: 5rem;
}

.small-help {
    font-size: 1.5rem;
}

.small:hover {
    border: 1px solid #3C3C3C;
}

.big {
    cursor: pointer;

    white-space: pre-wrap;
    text-transform: uppercase;

    text-align: center;
    font-size: 2.25rem;
    font-weight: 300;
    color: #3C3C3C;

    padding: 1rem 1.5rem;
    margin: 4.0625rem;

    max-width: 15rem;

    border: 1px solid #3C3C3C;
}

.big:hover {
    background-color: #F0F1F1;
    border: 1px solid #3C3C3C;
}

