.threeColumns {
    margin: 0 auto;
}

.rowTitle {
    margin-top: 3.4375rem;

    font-size: 2.375rem;
    letter-spacing: -0.76px;
    color: #3C3C3C;
    text-align: center;
}

.rowTitle-img {
    height: 33px;
    background-image: url("/public/assets/Decoration.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}