.home__header {
    display: flex;
    width: 50vw;
}

.box-top {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    margin: 3rem 8.75rem 2.25rem 0;

    text-align: right;
    font-size: 1.15rem;
    color: #737373;
}

a {
    text-decoration: none;
    font-size: 0.875rem;
    color: #737373;

    margin-left: 2rem;
}