.home {
    display: flex;
}

.home__img {
    width: 50vw;
    height: 1000px;

    background-image: url("/public/assets/Hero Image.png");
    background-repeat: no-repeat;
    background-position: -32rem;
    background-size: cover;
}